* {
    background: #181818;

    color: white;
}

.list {
    display : flex;
    align-items : flex-end;
    flex-direction : column;

    text-align: center;
}


/* RESPONSIVO */
@media (max-width: 768px) {
    .list {
        display : flex;
        justify-content : center;
        align-items : center;
        flex-direction : column;
    }
}